build/
doxygen/
# propre a chaque systeme, sur windows correspond a QtCreator
Chronomodel.pro.user*
*.xcodeproj/*
*.dll
Debug/*
Release/*
*.plist
.qmake.stash
*.pkg
*.aux
*.exe

*.mak

Info.plist
resources/Thumbs.db


Makefile

*.pbxproj

*.xcsettings

*.pbxproj

*.xcscheme

*.pbxproj

*.qm

*.dmg
