build/
doxygen/
DerivedData/

# propre a chaque systeme, sur windows correspond a QtCreator
Chronomodel.pro.user*
*.xcodeproj/*
*.dll
Debug/*
Release/*
*.plist
.qmake.stash
*.pkg
*.aux
*.exe
*.DS_Store
*.mak

Info.plist
resources/Thumbs.db


Makefile

*.pbxproj

*.xcsettings

*.pbxproj

*.xcscheme

*.pbxproj

*.qm

*.dmg

Create_mac_bundle_in_Release.sh

deploy/Calib/Gauss/.DS_Store

deploy/mac/.DS_Store

deploy/windows/.DS_Store

scan-build

*.autosave
*.obj
*.tlog
x64/*
*.suo
*.exe
*.exe
*.ilk
moc*.*
Makefile.Release
Makefile.Debug