build/
doxygen/
DerivedData/
_local_/
# propre a chaque systeme, sur windows correspond a QtCreator
Chronomodel.pro.user*
*.xcodeproj/*
*.dll
Debug/*
Release/*
*.plist
.qmake.stash
*.pkg
*.aux
*.exe
*.DS_Store
*.mak
Info.plist
resources/Thumbs.db
Makefile
*.pbxproj
*.xcsettings
*.pbxproj
*.xcscheme
*.pbxproj
*.qm
*.dmg
Create_mac_bundle_in_Release.sh
deploy/Calib/Gauss/.DS_Store
deploy/mac/.DS_Store
deploy/windows/.DS_Store
scan-build
*.autosave
*.obj
*.tlog
x64/*
*.suo
*.exe
*.exe
*.ilk
moc*.*
Makefile.Release
Makefile.Debug
*.Debug
compilation_WindowsOS.txt
fabrique_win.bat
*.json
*.Release
deploy/windows/Chronomodel_Bash_installer_v321_minGW_64bit.iss
deploy/windows/Chronomodel_installer_v321_minGW_64bit.iss
deploy/windows/Chronomodel_Bash_installer_v321_minGW_64bit.iss
Chronomodel_bash.pro.user.86f4acf
Chronomodel_bash.pro.user
*.user
Chronomodel_bash.pro.user
QtInstaller_ChronoModel/installer-packages-macOs/chronomodel_QtIFW.composant1/data
QtInstaller_ChronoModel/installer-packages-macOs/chronomodel_QtIFW.composant2/data

/modifyextract
*.1_macOS12_20250828_Installer
/QtInstaller_ChronoModel/ChronoModel_v3.3.0_Qt6.9.1_macOS12_20250828_Installer.app
/QtInstaller_ChronoModel/ChronoModel_v3.3.5_Qt6.9.1_macOS12_20250828_Installer.app
QtInstaller_ChronoModel/QtIFW_script_macOS_old.sh
/QtInstaller_InstallCurves/ChronoModel_v3.2.8_Curves_Installer_Qt6.7.2_macOS_20240920.app
/QtInstaller_InstallCurves/installer-packages/curves.composant1/data
/QtInstaller_ChronoModel/chronomodel_QtIFW.composant2/data
/QtInstaller_ChronoModel/chronomodel_QtIFW.composant2
