Package: chronomodel
Version: 3.3.0
Section: utils
Architecture: amd64
Depends: libc6 (>= 2.4), libstdc++6, libqt6core6 (>=6.4), libqt6gui6, libqt6widgets6, libfftw3-bin, libqt6svg6, qt6-wayland
Maintainer: Chronomodel Team <support@chronomodel.com>
Priority: optional
Homepage: https://chronomodel.com
Description: Chronological Modelling of Archaeological using Bayesian Statistics
 The ChronoModel Application is intended to provide tools for constructing
 chronologies in archaeology in combining Events, Phases and temporal 
 constraints.
