@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-extralight-webfont.eot');
    src: url('sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralight-webfont.woff') format('woff'),
         url('sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-extralightitalic-webfont.eot');
    src: url('sourcesanspro-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralightitalic-webfont.woff') format('woff'),
         url('sourcesanspro-extralightitalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-extralightitalic-webfont.svg#source_sans_proXLtIt') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-light-webfont.eot');
    src: url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light-webfont.woff') format('woff'),
         url('sourcesanspro-light-webfont.ttf') format('truetype'),
         url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-lightitalic-webfont.eot');
    src: url('sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-lightitalic-webfont.woff') format('woff'),
         url('sourcesanspro-lightitalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-italic-webfont.eot');
    src: url('sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-italic-webfont.woff') format('woff'),
         url('sourcesanspro-italic-webfont.ttf') format('truetype'),
         url('sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold-webfont.woff') format('woff'),
         url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-semibolditalic-webfont.eot');
    src: url('sourcesanspro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibolditalic-webfont.woff') format('woff'),
         url('sourcesanspro-semibolditalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-bolditalic-webfont.eot');
    src: url('sourcesanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bolditalic-webfont.woff') format('woff'),
         url('sourcesanspro-bolditalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-black-webfont.eot');
    src: url('sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-black-webfont.woff') format('woff'),
         url('sourcesanspro-black-webfont.ttf') format('truetype'),
         url('sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-blackitalic-webfont.eot');
    src: url('sourcesanspro-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-blackitalic-webfont.woff') format('woff'),
         url('sourcesanspro-blackitalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-blackitalic-webfont.svg#source_sans_problack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
