<div id="faq">
    <div class="slide slide-intro">
        <div class="container">
            <h1>Frequently Asked Questions</h1>
        </div>
    </div>
    <div class="slide slide-faq-1">
        <div class="container">
            <div class="question">Can I use custom reference curves for 14C and AM data?</div>
            <div class="answer">
                <p>Currently, there is no way to import new reference curves from the Chronomodel user interface.</p>
                <p>
                    However, reference curves are placed in a folder during the application installation, so you can add your own curve files in this folder.
                    You can have a look at the existing files to understand how to build yours (we don't provide any specification about it).
                    Malformed curve files may break Chronomodel at runtime : check their in this case!
                </p>
            </div>
        </div>
    </div>
    <div class="slide slide-faq-2">
        <div class="container">
            <div class="question">Can I open multiple projects at the same time?</div>
            <div class="answer">
                <p>No, not at the moment. We will work on that soon!</p>

            </div>
        </div>
    </div>
    <div class="slide slide-faq-1">
        <div class="container">
            <div class="question">What is the system requirement?</div>
            <div class="answer">
                <p>Chronomodel can be very demanding on system resources depending on your models. If you create hundreds of objets and launch calculations with millions of iterations, your Random Access Memory will have to be large enough. Your CPU speed controls the calculation time but won't prevent Chronomodel from running correctly.</p>
                <p>We don't provide a "minimal" system requirement since simple models will run on almost all configurations.</p>
                <p>The application can be built for Mac OS X (10.7 and more), Windows (XP, Vista, 7, 8) and Linux (tested on Ubuntu).</p>
            </div>
        </div>
    </div>
</div>