<div id="downloads">

    <div class="slide slide-intro">
        <div class="container">
            <h1>Downloads</h1>
        </div>
    </div>

    <div class="slide slide-dwl-2">
        <div class="container">
            <p>Current version is Chronomodel 0.6.</p>
            <p>
                Chronomodel is an open source project.
                You can download the source code and compile everything yourself from scratch.
                Chronomodel is built on <a href="http://qt-project.org/" target="_blank">Qt 5</a> and uses <a href="http://www.fftw.org/" target="_blank">FFTW library</a> (you need these tools installed on your system to compile Chronomodel).
            </p>
            <!--ul>
                <li>Source code : <a href="releases/chronomodel_src_0.6.zip">zip archive</a></li>
                <li>Git repository (command line) : git clone http://...</li>
            </ul-->
            <p>We provide pre-compiled binary versions of the application for convenience :</p>
            <table class="table table-stripped table-bordered">
                <tr>
                    <th>Operating System</th>
                    <th>Download link</th>
                </tr>
                <tr>
                    <td><img src="images/platforms/mac.png" height="50">Mac OS X 64 bits (10.7 Lion, 10.8 Mountain Lion, 10.9 Mavericks, 10.10 Yosemite)</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_mac_0.6.pkg">Download</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/windows.png" height="50">Windows 32 bits (XP, Vista, 7, 8)</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_win_0.6.exe">Download</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/linux.png" height="50">Unbuntu 14.1</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_ubuntu_0.6.zip">Download</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/src.png" height="50">Souce Code</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_src_0.6.zip">Download</a></th>
                </tr>
            </table>
        </div>
    </div>

    <div class="slide slide-dwl-1">
        <div class="container">
            <h3>Examples</h3>
            <p>
                <a class="btn btn-primary" href="Quiles_bouquets.zip">Bouquets Quiles</a>
            </p>
        </div>
    </div>

    <!--div ng-repeat="item in downloads" ng-class="{even : $index % 2}" class="download">
        <h3 class="version">Chronomodel {{item.version}} ({{item.date}})</h3>
        <a class="btn btn-primary mac" href="{{item.mac}}" ng-show="item.mac">Mac Download</a>
        <a class="btn btn-primary win" href="{{item.win}}" ng-show="item.win">Windows download</a>
        <h4>Solved issues :</h4>
        <ul class="solved">
            <li ng-repeat="issue in item.done">{{issue}}</li>
        </ul>
    </div-->
</div>
