<div id="features">
    <div class="slide slide-intro">
        <div class="container">
            <h1>Features</h1>
        </div>
    </div>
    <div id="home-events" class="slide home1">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h2>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        Archaeological Modelling
                    </h2>
                    <ul>
                        <li>Fast and intuitive model creation.</li>
                        <li>Import/export CSV data files with drag & drop.</li>
                        <li>3 levels models : Phase / Event / Data.</li>
                        <li>Long study periods support.</li>
                    </ul>
                </div>
                <div class="col-sm-7">
                    <img src="images/screenshots/events.png" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div id="home-calib" class="slide home2">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <img src="images/screenshots/calib.png" width="100%">
                </div>
                <div class="col-sm-7">
                    <h2>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        Data Calibration
                    </h2>
                    <ul>
                        <li>Calibrate all your data : 14C, AM, TL/OSL and more.</li>
                        <li>High resolution zoom on calibrated dates parts.</li>
                        <li>Save images and numerical results.</li>
                        <li>Add your own reference curves.</li>
                        <li>Not afraid of coding C++? create your own calibration plugin for Chronomodel!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="home-results" class="slide home1">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h2>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        Custom results display
                    </h2>
                    <ul>
                        <li>Compress results line for convenient image exports.</li>
                        <li>Auto vertical scaling on zoom.</li>
                        <li>3 levels models : Phase / Event / Data.</li>
                        <li>Custom sorting, names and colors.</li>
                        <li>Custom sorting, names and colors.</li>
                    </ul>
                </div>
                <div class="col-sm-7">
                    <img src="images/screenshots/results3.png" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div id="home-mcmc" class="slide home2">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <img src="images/screenshots/mcmc2.png" width="100%">
                </div>
                <div class="col-sm-5">
                    <h2>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        MCMC Clear Control
                    </h2>
                    <ul>
                        <li>Calculation steps explained.</li>
                        <li>Personalized seeds & chains length.</li>
                        <li>Custom chains number.</li>
                        <li>MCMC results analysis : trace, acceptation rate, correlation...</li>
                        <li>MCMC per-variable options : different methods for events & data.</li>
                        <li>Initialization log.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>