#AuthName "Site en construction"
#AuthType Basic
#AuthUserFile /home/chronomo/www/.htpasswd
#Require valid-user

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^chronomodel.fr$
RewriteRule ^(.*) http://www.chronomodel.fr/$1 [QSA,L,R=301]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.html [NC,L]
